{% extends "base.html" %}

{% block content %}
    
    <h1>{{author}}'s blogentries:</h1>
    

    <hr />

    {% if userblogs|length == 0 %}
    <p>No blogentry for this author yet</p>
    {% else %}

        <ul>
            {% for blog in userblogs %}
            <li>
                <a href="/blog?id={{blog.id}}">{{blog.title}}</a>
                <p>{{blog.body}}</p>
                <input type="hidden" name="blog_id" value="{{blog.id}}"/>
            </li>
            {% endfor %}
        </ul>

    {% endif %}


{% endblock %}