{% extends "base.html" %}

{% block content %}
    
    <h1>Build a Blog</h1>
    

    <hr />

    {% if blogs|length == 0 %}
    <p>No blogentry yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>
                <a href="/blog?id={{blog.id}}">{{blog.title}}</a>
                <p>{{blog.body}}</p>
                <input type="hidden" name="blog_id" value="{{blog.id}}"/>
            </li>
            {% endfor %}
        </ul>

    {% endif %}


{% endblock %}